{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Hello, bienvenue !</h1>
            <p class="lead">
                Opération de contrôle et de sécurisation du fichier des ayants droit et des pensions d'invalidité.
            </p>
            <hr class="my-4">
            <p>
                Cette application a été mise sur pied pour permettre aux agents de collectes des actes de 
                pensions de réversion et d'invalidité de régulariser la situation des personnes bénéficiant de
                ces pensions appelées à se clarifier.
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('reversion_index') }}" 
                    role="button">
                    Régulariser une pension de réversion
                </a>
                <a class="btn btn-primary btn-lg" href="{{ path('invalidite_index') }}" 
                    role="button">
                    Régulariser une pension d'invalidité
                </a>
            </p>
        </div>
    </div>
{% endblock %}
